@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

:root {
  --main-color: #101010;
  --font-color: #eee;
  --ghost-font-color: #aaa;
  --main-shadow: 6px 6px 15px #000, -6px -6px 15px #040404;
  --inset-shadow: inset 6px 6px 15px #030303, inset -6px -6px 15px #040404;
}

body {
  background: var(--main-color);
  color: var(--font-color);
  margin: 2.5rem;
  font-family: Ubuntu, system-ui, sans-serif;
  user-select: none;
  width: calc(100% - 5rem);
  height: calc(100% - 5rem);
  text-align: center;
}

a.card {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1.5rem;
  font-family: inherit;
	outline: inherit;
  height: auto;
}

body.theme0 a.card {
	border: none;
}

body.theme1 a.card {
	border: solid 2px var(--font-color);
}

.card {
  border-radius: 10px;
  background: var(--main-color);
  color: var(--font-color);
  display: inline-flex;
  width: 17rem;
  margin: 1rem;
  transition: 0.3s ease-out;
  cursor: pointer;
  text-decoration: none;
  height: 11rem;
}

body.theme0 .card {
  box-shadow: var(--main-shadow);
}

body.theme1 .card {
  border: solid 2px var(--font-color);
}

.card:focus {
  scale: 1.1;
}

.card:hover {
  scale: 1.1;
}

body.theme0 .card:active {
  box-shadow: var(--inset-shadow);
}

.card-text {
  font-size: 0.9rem;
  color: var(--font-color);
}

.card-text-container {
  height: calc(100% - 3rem);
  width: calc(100% - 3rem);
  padding: 1.5rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--font-color);
}

@keyframes rgb {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.home-link {
  width: 30rem;
  position: fixed;
  left: 1rem;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.2s;
  animation: rgb 10s infinite alternate;
}

.home-link:hover {
  opacity: 1;
}

.search-bar {
  background-color: var(--main-color);
  color: var(--font-color);
  outline: none;
  border: 1px solid var(--ghost-font-color);
  border-radius: 10px;
  font-size: 1rem;
  font-family: Ubuntu, system-ui, sans-serif;
  padding: 0.5rem;
  width: 60%;
}

.search-bar:active,.search-bar:focus {
  border: 1px solid var(--font-color);
}

h1.title > img {
  width: 100%;
  padding: 0.3rem;
  animation: rgb 5s infinite alternate;
}

.theme-picker {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: auto;
  height: 3rem;
  border-radius: 15px;
  background-color: #ffffff33;
}

.theme-picker > div {
  display: inline-block;
  position: relative;
  height: 80%;
  top: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  scale: 0.5;
  transition: scale 250ms;
}

.theme-picker > div:hover {
  scale: 0.6;
  cursor: pointer;
}

.theme-picker > div:active {
  scale: 0.7;
}

.theme-picker > div:nth-child(1) {
  background: var(--main-color);
  box-shadow: var(--main-shadow);
}

.theme-picker > div:nth-child(2) {
  background: var(--main-color);
  border: solid 2px var(--font-color);
}