@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.main {
  position: absolute;
  left: 24%;
  top: 0;
  width: 75%;
  padding-top: 5%;
  font-size: 2vw;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  width: 100%;
  background-color: #ADE8F4;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  transition: width, 0.5s linear;
  background-color: #007FE0;
  color: #FFFFFF;
  z-index: -1;
  font-size: 5vw;
  z-index: 4;
  top: 0;
  left: 0;
  width: 20%;
  padding: 1%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.main button {
  border-color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5vw;
  background: #00B4D8;
  color: #FFFFFF;
  border-width: 1vw;
  padding: 2%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sidebar input {
  border: none;
  font-size: 30%;
  background: #00B4D8;
  color: #FFFFFF;
  height: 5vw;
  transition: width, 0.2s linear;
  width: 100%;
  text-align: center;
}

.sidebar input:hover {
  height: 5vw;
  font-size: 35%;
  background: #00accf;
}

.hidden-item {
  border-color: #000000;
  font-size: 5vw;
  padding: 2%;
  background: #00B4D8;
  color: #FFFFFF;
  border-width: 1vw;
  transition: display;
  display: none;
}

.hidden-item.shown {
  display: block;
}
