.card {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--font-color);
  padding: 1.5rem;
	border: none;
  font-family: inherit;
	outline: inherit;
}

h1 img {
  width: 100%;
  padding: 0.3rem;
  animation: rgb 5s infinite alternate;
}
