@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.main {
  position: absolute;
  left: 8%;
  top: 0;
  width: 82%;
  padding-top: 10%;
  font-size: 5vw;
  font-family: 'Roboto Condensed', sans-serif;
}

.main.pc {
  position: absolute !important;
  left: 24% !important;
  top: 0 !important;
  width: 75% !important;
  padding-top: 5% !important;
  font-size: 2vw !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

body {
  width: 100%;
  background-color: #ADE8F4;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 0%;
  height: 100%;
  transition: width, 0.5s linear;
  background-color: #007FE0;
  color: #FFFFFF;
  z-index: -1;
  padding: 0%;
  padding-top: 14%;
  font-size: 5vw;
}

.sidebar.open {
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5%;
  padding-top: 14%;
}

.sidebar.pc {
  position: fixed !important;
  top: 0 !important;
  height: 100% !important;
  transition: width, 0.5s linear !important;
  background-color: #007FE0 !important;
  color: #FFFFFF !important;
  z-index: -1 !important;
  font-size: 5vw !important;
  z-index: 4 !important;
  top: 0 !important;
  left: 0 !important;
  width: 20% !important;
  padding: 1% !important;
}

.menu-button {
  top: 1vw;
  left: 1vw;
  width: 10vw;
  height: 10vw;
  border-radius: 15%;
  border: none;
  z-index: 5;
  position: fixed;
  font-size: 6vw;
  text-align: center;
  padding: 1vw 1vh 1vw 1vh;
  background-color: #FFFFFF;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.main button {
  border-color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5vw;
  background: #00B4D8;
  color: #FFFFFF;
  border-width: 1vw;
  padding: 2%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sidebar input {
  border: none;
  font-size: 5vw;
  background: #00B4D8;
  color: #FFFFFF;
  width: 0vw;
  height: 9vw;
  margin-bottom: 2%;
  left: 1vw;
  width: 0;
  transition: width, 0.5s linear;
}

.sidebar.open input {
  width: 89vw;
}

.sidebar input.pc {
  border: none !important;
  font-size: 30% !important;
  background: #00B4D8 !important;
  color: #FFFFFF !important;
  height: 5vw !important;
  transition: width, 0.2s linear !important;
  width: 100% !important;
  text-align: center !important;
}

.sidebar input.pc:hover {
  height: 5vw !important;
  font-size: 35% !important;
  background: #00accf !important;
}

.hidden-item {
  border-color: #000000;
  font-size: 5vw;
  padding: 2%;
  background: #00B4D8;
  color: #FFFFFF;
  border-width: 1vw;
  transition: display;
  display: none;
}

.hidden-item.shown {
  display: block;
}
