.card {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--font-color);
  padding: 1.5rem;
	border: none;
  font-family: inherit;
	outline: inherit;
}

@keyframes rgb {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

h1 img {
  width: 100%;
  padding: 0.3rem;
  border-radius: 20px;
  animation: rgb 5s infinite alternate;
}
