h3 {
  margin-bottom: 0;
}

.card {
  height: 28rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-price {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  color: var(--font-color);
}
